<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleConsult.css">
    <script type="module" src="/js/appConsult.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="header">
        <h1> CONSULT USER </h1>
        <img src="/images/consult.png"/> 
    </div>
    <div id="form">
        <label> Identification </label> <input id="id"/> <br/> <br/> <br/>
         <label> Name </label> <input id="name" disabled /> <br/> <br/> <br/>         
         <label> Age </label> <input id="age" disabled /> <br/> <br/> <br/>       
         <button id="btnConsultUser"> Search </button>
    </div>       
</body>   
</body>
</html>