<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleHome.css">
    <script type="module" src="/js/appHome.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="header">
        <h1> APPLICATION WEB </h1>
        <img src="/images/home.png">
    </div>    
    <div id="block-button">
        <button id="btnRegisterPage"> REGISTRAR USUARIO </button> <br> <br>
        <button id="btnConsult"> CONSULTAR USUARIO </button>  
    </div>
</body>
</html>